# App
APP_URL=http://localhost:3000
API_URL=http://localhost:8000
API_PREFIX=/v1

# Database
DATABASE_URL=postgresql://user:password@localhost:6432/dbname

# Redis
UPSTASH_REDIS_REST_URL=https://your-upstash-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-upstash-token

# Workos
WORKOS_CLIENT_ID=your-workos-client-id
WORKOS_API_KEY=your-workos-api-k3ey
WORKOS_COOKIE_PASSWORD=generate-password
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/workspaces

# Polar
POLAR_ACCESS_TOKEN=your-polar-token
IS_POLAR_SANDBOX=true

# Email
RESEND_API_KEY=your-resend-api-key
SUPPORT_EMAIL=support@example.com

# Auth
ADMIN_API_KEY=your-admin-api-key
JWT_SECRET=your-jwt-secret
