ENV=dev
ADMIN_TOKEN={ADMIN_TOKEN}

FLY_API_TOKEN={FLY_API_TOKEN}
FLY_ORG_NAME={FLY_ORG_NAME}

# below is the database url for local development when running and exposing with docker compose
DATABASE_URL=postgresql+asyncpg://machines-dev:password@localhost:5432/machines

