global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 2h
    timeout server 2h

resolvers docker
    nameserver docker 127.0.0.11:53
    hold valid 2s

frontend agent_tunnels
    bind :443
    default_backend connection_gateways

backend connection_gateways
    balance roundrobin
    option tcp-check
    server gateway0 connection-gateway:8443 check inter 2s fall 2 rise 1 resolvers docker init-addr none
    server gateway1 connection-gateway-1:8443 check inter 2s fall 2 rise 1 resolvers docker init-addr none
