{
  "tagOwners": {
    "${agent_tag}": ["autogroup:admin", "${control_plane_tag}"],
    "${control_plane_tag}": ["autogroup:admin", "${control_plane_tag}"]
  },
  "autoApprovers": {
    "services": {
      "${control_plane_service}": ["${control_plane_tag}"]
    }
  },
  "grants": [
    {
      "src": ["${control_plane_tag}"],
      "dst": ["${agent_tag}"],
      "ip": ["tcp:${agent_proxy_port}"]
    },
    {
      "src": ["${agent_tag}"],
      "dst": ["${control_plane_tag}"],
      "ip": ["tcp:${control_plane_port}"]
    },
    {
      "src": ["${agent_tag}"],
      "dst": ["${control_plane_service}"],
      "ip": ${control_plane_service_ports}
    }
  ],
  "tests": [
    {
      "src": "${control_plane_tag}",
      "proto": "tcp",
      "accept": ["${agent_tag}:${agent_proxy_port}"],
      "deny": [
        "${agent_tag}:22",
        "${control_plane_tag}:${agent_proxy_port}"
      ]
    },
    {
      "src": "${agent_tag}",
      "proto": "tcp",
      "accept": ["${control_plane_tag}:${control_plane_port}"],
      "deny": [
        "${agent_tag}:${agent_proxy_port}",
        "${control_plane_tag}:${agent_proxy_port}",
        "${control_plane_tag}:22"
      ]
    }
  ]
}
